/BinBud.xcodeproj/project.xcworkspace/xcuserdata/BroBro.xcuserdatad/UserInterfaceState.xcuserstate
/BinBud/CoreMLModel/preprocessBinBud.mlpackage
/BinBud/CoreMLModel/noProcessBinBud.mlpackage
/BinBud/CoreMLModel/newPackage.mlpackage